body{
	color: #434343;
	font-size: 14px;
}
a{
	color: #176dee;
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
}
h2{
	
	border-bottom: 1px solid #eceff4;
	padding-bottom: 10px;
	font-size: 24px;
}
h3{
	
	font-size: 20px;
	text-transform: uppercase;
}
.clear{
	clear: both;
}
.sidebar{
	position: fixed;
	background-color: #82add3;
	width:250px;
	height:100%;
	top:0;
	left:0;
	padding-top: 50px;
}

.sidebar_menu{
	padding-left: 20px;
}
.sidebar_menu li{
	margin: 20px 0;
	font-size: 16px;
}
.sidebar_menu li a{
	color:#fff;
	text-decoration: none;
}
.sidebar_menu li a:hover, .sidebar_menu li a.active{
	color:#fff;

}
.sidebar_menu li a span{
	margin-right: 10px;
}
.main_content{
	margin-left: 250px;
	padding: 10px 30px;
	color: #434343;
	line-height: 1.7;
}


.col{
	padding: 10px 40px;
}
.image_slider .main_img{
	height:300px;
	overflow: hidden;
}
.image_slider .main_img img{
	width:100%;
}
.image_slider .thumbs{
	height:50px;
	margin-bottom: 20px;
}
.image_slider .thumbs img{
	width:25%;
	margin:0 ;
	float: left;
}
.people{
	text-align: center;
}
.person{
	display: inline-block;
	width:140px;
	text-align: center;

	
}
.person .profile_pic{
	border-radius: 100%;
	border: 4px solid #51bca8;
	width:110px;
	height:110px;
	background-color: #ccc;
	overflow: hidden;
	display: inline-block;

}
.person .profile_pic img{
	width:100%;
	height:100%;
}
.lolocations{
	text-align: center;
}
.locations .location{
	display: inline-block;
	width:20%;
	margin: 0 15px;
}

.locations .location img{
	width:100%;
	height: auto;
}